<footer class="max-w-prose mx-auto px-4 py-4">
  {% include 'navigation.njk' %}
  <p><small><a class="text-gray-500" href="https://stephensauceda.com">Stephen Sauceda</a> &copy; {{helpers.currentYear()}}. Powered by <a class="text-gray-500" href="https://www.11ty.dev">11ty</a></small></p>
</footer>