<footer class="px-4 py-4 border-t-2 border-b-2">
  <a class="no-underline flex items-center hover:text-orange-500" href="/">
    <img class="rounded-full max-w-[60px] mr-4 mb-0 mt-0 ml-0" src="https://www.gravatar.com/avatar/a0545e3a11b0279ca05e7673d92aac9a?s=250&r=x&d=mp" alt="Stephen Sauceda">
    <span class="font-bold">Stephen Sauceda</span>
  </a>
</footer>