<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{ eleventy.generator }}">
  <link rel="webmention" href="https://webmention.io/stephensauceda.com/webmention" />
  <link rel="pingback" href="https://webmention.io/stephensauceda.com/xmlrpc" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="micropub" href="{{'/micropub' | absoluteUrl(site.url) }}">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{title}} | {{site.domain}}</title>
</head>
<body>
  <div class="flex flex-col min-h-screen px-4 py-4 mx-auto">
    <main class="flex flex-col justify-center grow max-w-prose w-full mx-auto">
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </div>
</body>
</html>