---
layout: 'base.njk'
---


<article class="prose mt-12 h-entry">
  <header>
    <h1 class="p-name text-4xl mb-4">{{title}}</h1>
    <p class="mt-0"><small><a class="u-url" href="{{page.url}}"><time class="dt-published" datetime="{{page.date | date('YYYY-MM-DD') }}">{{page.date | date}}</time></a></small></p>
  </header>

  {% if imageSrc %}
    {% image imageSrc, imageAlt %}
  {% endif %}
  
  <div class="e-content">
    {{content | safe}}
    {% include 'post-footer.njk' %}
  </div>
</article>