---
layout: base
---


<article class="prose mt-12 h-entry">
  <header>
    <h1 class="p-name text-4xl mb-4">{{title}}</h1>
    <p class="mt-0"><small><a class="u-url" href="{{page.url}}"><time class="dt-published" datetime="{{page.date | date('YYYY-MM-DD') }}">{{page.date | date}}</time></a></small></p>
  </header>
  
  {% if imageSrc %}
    {% image imageSrc, imageAlt %}
  {% endif %}
  
  <div class="e-content">
    {{content | safe}}
    {% include 'post-footer.njk' %}
  </div>

  {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}

  {% set mentions = webmentions | getWebmentionsForUrl(webmentionUrl) %}  
  <!-- Set reposts as mentions that are `repost-of`  -->  
  {% set reposts = mentions | webmentionsByType('repost-of') %}  
  <!-- Count the total reposts -->  
  {% set repostsSize = reposts | size %}  
  <!-- Set likes as mentions that are `like-of`  -->  
  {% set likes = mentions | webmentionsByType('like-of') %}  
  <!-- Count the total likes -->  
  {% set likesSize = likes | size %}  
  <!-- Set replies as mentions that are `in-reply-to`  -->  
  {% set replies = mentions | webmentionsByType('in-reply-to')  %}  
  <!-- Count the total replies -->  
  {% set repliesSize = replies | size  %}
  {% if repostsSize + likesSize + repliesSize > 0 %}
    <div class="py-4">
      <h4 class="font-bold text-2xl mb-2 mt-0">Webmentions</h4>

      {% if likesSize > 0 %}
        <details class="p-comment h-entry">
          <summary>
            <h5 class="inline-block font-bold text-xl mb-4 p-name">{{ likesSize }} like{% if likesSize !== 1 %}s{% endif%}</h5>
          </summary>
          {%- for like in likes -%}
            <div class="prose">
              <ol class="list-none pl-4 marker:text-[#6b7280]">
                <li class="text-sm mb-8">
                  <a href="{{like['wm-source']}}">#</a> Liked by <a class="inline-block mb-1 p-author u-url p-name" href="{{like.author.url}}">{{like.author.name}}</a>.
                </li>
              </ol>
            </div>
          {% endfor %}
        </details>
      {% endif %}

      {% if repostsSize > 0 %}
        <details class="p-comment h-entry">
          <summary>
            <h5 class="inline-block font-bold text-xl mb-4">{{ repostsSize }} shares{% if repostsSize !== 1 %}s{% endif%}</h5>
          </summary>
          {%- for repost in reposts -%}
            <div class="prose">
              <ol class="list-none pl-4 marker:text-[#6b7280]">
                <li class="text-sm mb-8">
                  <a href="{{repost['wm-source']}}">#</a> Shared by <a class="inline-block mb-1 p-author u-url p-name" href="{{repost.author.url}}">{{repost.author.name}}</a>.
                </li>
              </ol>
            </div>
          {% endfor %}
        </details>
      {% endif %}

      {% if repliesSize > 0 %}
        <h5 class="font-bold text-xl mb-4">Replies</h5>
        <ol class="list-decimal pl-4 marker:text-[#6b7280]">
          {%- for reply in replies -%}
            <li class="text-sm mb-8 border-b pb-8 p-comment h-entry">
              <div class="mb-4 text-sm e-content line-clamp-3">
                {{ reply.content.html | safe }}
              </div>
              <div class="flex items-center">
                {%if reply.author.photo %}<img loading="lazy" class="m-0 w-[40px] rounded-full mr-2" src="{{reply.author.photo}}" />{% endif %}
                <div class="flex flex-col">
                  <a class="block mr-2 mb-1 p-author p-name u-url" href="{{reply.author.url}}">{{reply.author.name}}</a>
                  <a class="block text-xs" href="{{reply['wm-source']}}" class="block"> View original</a>
                </div>
              </div>
            </li>
          {% endfor %}
        </ol>
      {% endif %}
    </div>
  {% endif %}
</article>