@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 15rem), url('/assets/images/funky-lines.png');
}

.post p > picture {
  display: flex;
  justify-content: center;
  width: 100%;
}

.post p > picture > img {
  width: 100%;
}