---
title: The Homepage for Stephen Sauceda
layout: "base.njk"
---

<div class="h-card p-note max-w-prose mx-auto">
  <h1><span class="p-name font-bold">{{site.name}}</span> <span class="sms-description p-job-title">/ {{site.description}}</span></h1>
  <div class="prose">
    <p>I'm a dad and husband. I like playing music and shooting little photos and videos. I'm also a developer
      building
      things
      on the web.</p>
    <p>I can be found around the internet on <a rel="me"
        class="u-url underline decoration-purple-600 decoration-2 hover:text-purple-600"
        href="https://mastodon.online/@stephensauceda">Mastodon</a>, <a rel="me"
        class="u-url underline decoration-orange-600 decoration-2 hover:text-orange-600"
        href="https://instagram.com/stephensauceda/">Instagram</a> and <a rel="me"
        class="u-url underline decoration-green-600 decoration-2 hover:text-green-600"
        href="https://github.com/stephensauceda">Github</a> or in real life somewhere in <span class="p-region">South
        Carolina</span>.</p>
  </div>
</div>