---
title: The Homepage for Stephen Sauceda
layout: base
---

<div class="h-card max-w-prose mx-auto">
  <h1 class="font-bold text-4xl mb-4">Hi. I'm Stephen.</h1>
  <div class="prose p-note">
    <p>
      I'm a dad and husband. I like playing music and shooting little photos and
      videos. I'm also a <span class="p-job-title">developer</span> building
      things on the web.
    </p>
    <p>
      I can be found around the internet on
      <a
        rel="me"
        class="u-url underline decoration-purple-600 decoration-2 hover:text-purple-600"
        href="https://www.threads.net/@stephensauceda"
        >Threads</a
      >,
      <a
        rel="me"
        class="u-url underline decoration-orange-600 decoration-2 hover:text-orange-600"
        href="https://instagram.com/stephensauceda/"
        >Instagram</a
      >
      and
      <a
        rel="me"
        class="u-url underline decoration-green-600 decoration-2 hover:text-green-600"
        href="https://github.com/stephensauceda"
        >Github</a
      >
      or in real life somewhere in <span class="p-region">South Carolina</span>.
    </p>
    <p>
      <img
        loading="lazy"
        class="u-photo"
        src="/assets/images/me.jpg"
        alt="Stephen Sauceda"
        width="400"
        height="400"
      />
    </p>
  </div>

  <div class="prose">
    <h2>Some thoughts</h2>
    <ul class="list-none px-0">
      {%- for post in collections.posts | reverse -%} {% if (loop.index < 4) %}
      <li class="mb-8 flex justify-between items-center gap-x-4">
        <a class="font-bold mt-0" href="{{ post.url }}">{{
          post.data.title
        }}</a>
        <span class="mb-0">
          <small>{{ post.date | date('MMM DD') }}</small>
        </span>
      </li>
      {% endif %} {%- endfor -%}
    </ul>
  </div>
</div>
