---
title: Uses
layout: base
---

<div class="prose mt-12">
  <h1>Uses</h1>

  <p>
    This is a collection of a few of my favorite things. I&#8217;m into quite a
    few different things so I have a lot of things that help me do them. Just a
    heads up: none of these are affiliate links or anything like that.
  </p>

  <h2>The Basics</h2>

  <ul>
    <li>
      <a href="https://support.apple.com/kb/SP843?locale=en_US"
        >Apple iPad Pro 11" M1 (2021) 512GB SSD</a
      >
    </li>
    <li>
      <a href="https://www.apple.com/shop/buy-iphone/iphone-12"
        >Apple iPhone 12</a
      >
    </li>
    <li><a href="https://www.apple.com/apple-watch-se/">Apple Watch SE</a></li>
    <li>
      <a href="https://www.lg.com/us/monitors/lg-34wq73a-b"
        >LG 34&quot; Curved UltraWide Monitor</a
      >
    </li>
    <li>
      <a href="https://www.autonomous.ai/standing-desks/diy-smart-desk-kit"
        >Autonomous Standing Desk Frame</a
      >
      with an
      <a
        href="https://www.ikea.com/us/en/p/lilltraesk-countertop-white-laminate-30280829/"
        >Ikea countertop</a
      >
    </li>
    <li>
      <a href="https://www.monoprice.com/product?p_id=35374"
        >Monoprice Monolith Desktop Speakers</a
      >
    </li>
    <li>
      <a href="https://www.caldigit.com/thunderbolt-4-element-hub/"
        >CalDigit Element Thunderbolt 4 Hub</a
      >
    </li>
    <li>
      <a
        href="https://www.logitech.com/en-us/products/mice/mx-anywhere-3.910-005833.html"
        >Logitech MX Anywhere 3</a
      >
    </li>
    <li>
      <a
        href="https://www.logitech.com/en-us/products/keyboards/mx-mechanical-mini-mac.920-010831.html"
        >Logitech MX Mechanical Mini for Mac</a
      >
    </li>
  </ul>

  <h2>Software</h2>

  <ul>
    <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
    <li>
      <a href="https://www.mozilla.org/en-US/firefox/new/"
        >Firefox Web Browser</a
      >
    </li>
    <li><a href="https://1password.com/">1Password</a></li>
    <li>
      <a href="https://www.blackmagicdesign.com/products/davinciresolve"
        >Davinci Resolve</a
      >
    </li>
    <li>
      <a href="https://www.adobe.com/products/photoshop-lightroom.html"
        >Lightroom</a
      >
    </li>
    <li><a href="https://www.ableton.com/en/live/">Ableton Live</a></li>
  </ul>

  <p>
    I also intentionally use as many of Apple&#8217;s built-in productivity apps
    in an effort to keep my life (and app subscriptions) simple. I heavily
    skewed toward third-party solutions for Mail, Calendars, to-do lists, etc
    for a <em>long</em> time. But trying to find which ones worked together and
    offered the features I wanted (as well as subscriptions for each) led me to
    just use Apple&#8217;s own suite. They are not the most feature-rich by any
    means, but they get the job done (mostly) and they all work well together
    across the various Apple devices I use.
  </p>

  <h2>Music</h2>

  <ul>
    <li>
      <a
        href="https://www.fender.com/en-US/electric-guitars/telecaster/player-telecaster/0145212515.html"
        >Fender Player Telecaster - White</a
      >
    </li>
    <li><a href="https://voxamps.com/product/ac-4-custom/">Vox AC 4 Amp</a></li>
    <li>
      <a href="https://www.templeaudio.com/solo-18">TempleAudio Solo 18 Pedalboard</a>
      <ul>
        <li>
          <a
            href="https://www.hotoneaudio.com/products/multi-effects/new/ampero-ii-stomp"
            >Hotone Ampero Stomp 2 Multi-Effects / Amp Modeler</a>
        </li>
        <li>
          <a href="https://www.morningstar.io/mc6-mkii"
            >Morningstar MC6 MKII Midi Controller</a>
        </li>
        <li>
          <a href="https://www.jimdunlop.com/volume-x-mini-pedal/">Dunlop DVP4 Volume (X) Mini Pedal</a
          >
        </li>
        <li>
          <a href="https://www.analogendeavors.com/product/aux2-controller"
            >Aux2</a> Footswitches
        </li>
      </ul>
    </li>
    <li>
      <a href="https://novationmusic.com/en/launch/launchpad-pro"
        >Novation LaunchPad Pro MKIII Midi Controller</a
      >
    </li>
    <li>
      <a href="https://www.akaipro.com/mpk-mini-mk3"
        >Akai MPK Mini MKIII Midi Controller</a
      >
    </li>
  </ul>

  <h2>Photo / Video</h2>

  <ul>
    <li>
      <a
        href="https://electronics.sony.com/imaging/interchangeable-lens-cameras/aps-c/p/ilczve10l-w"
        >Sony ZV-E10</a
      >
    </li>
    <li>
      <a href="https://www.sigma-global.com/en/lenses/c021_18_50_28/"
        >Sigma 18&#8211;50mm f2.8 DC DN Lens</a
      >
    </li>
    <li>
      <a href="https://deitymic.com/products/v-mic-d3-pro/"
        >Deity D3 Pro Shotgun Microphone</a
      >
    </li>
    <li>
      <a href="https://deitymic.com/products/v-mic-d4-mini/"
        >Deity D4 Mini Shotgun Microphone</a
      >
    </li>
    <li>
      <a href="https://deitymic.com/products/pocket-wireless/"
        >Deity Pocket Wireless</a
      >
    </li>
  </ul>
</div>
