<footer class="max-w-prose mx-auto px-4 py-4">
  <p>
    <small
      ><a class="text-gray-500" href="https://stephensauceda.com"
        >Stephen Sauceda</a
      >
      &copy; {{ helpers.currentYear() }}. Powered by
      <a class="text-gray-500" href="https://www.11ty.dev">Eleventy</a>.</small
    >
  </p>
</footer>
