<footer class="px-4 py-4 border-t-2 border-b-2">
  <a
    rel="author"
    class="p-author h-card u-url no-underline flex items-center hover:text-orange-500"
    href="/"
  >
    <img
      loading="lazy"
      class="u-photo rounded-full max-w-[60px] mr-4 mb-0 mt-0 ml-0"
      src="/assets/images/me.jpg"
      alt="Stephen Sauceda"
      width="60"
      height="60"
    />
    <span class="p-name font-bold">Stephen Sauceda</span>
  </a>
</footer>
